<!DOCTYPE html>
<html>
  <head>
    <title>Hinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="row">
    <% if signed_in? %>
      <%= link_to 'Profile', user_path(current_user.id) %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    <div class="col-md-12">
      <%= yield %>
    </div>

  </div>
  </body>
  </html>
